[alias]
  co = checkout
  nudge = push --force-with-lease
  list-branches = branch --sort=committerdate
  delete-merged-branches = !git delete-merged-branches branch --merged master | grep -v -e 'master' -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
  alias = config --get-regexp ^alias\\.
[push]
  default = simple
[user]
	name = Casey Watts
	email = casey.s.watts@gmail.com
[core]
  editor = atom --wait
  excludesfile = ~/.gitignore
  autocrlf = input
  color = always
[diff]
  colorMoved = default
[branch]
  sort = -authordate
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
