[alias]
  co = checkout
  nudge = push --force-with-lease
  list-branches = branch --sort=committerdate
  delete-merged-branches = !git delete-merged-branches branch --merged master | grep -v -e 'master' -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
[push]
  default = simple
[credential]
  helper = osxkeychain
[user]
  name = Casey Watts
  email = casey.s.watts@gmail.com
[core]
  editor = atom --wait
  excludesfile = ~/.gitignore
  color = always
[diff]
  colorMoved = default
